



/* animate all incomming li elements */

li {
    opacity: 0;
    transform: translateY(20px);
    animation: animate-incoming 0.5s ease-out forwards;
    transition: all 0.5s ease-out;
}

@keyframes animate-incoming {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.card {

    transition: .5s;
    border: 0;
    margin-bottom: 30px;
    border-radius: .55rem;
    position: relative;
    width: 100%;
    box-shadow: 0 1px 2px 0 rgb(0 0 0 / 10%);
}
.chat-app .people-list {
    width: 280px;
    position: absolute;
    left: 0;
    top: 0;
    padding: 20px;
    z-index: 7
}

.chat-app .chat {
    margin-left: 280px;
    border-left: 1px solid #123cc75b
}

.people-list {
    -moz-transition: .5s;
    -o-transition: .5s;
    -webkit-transition: .5s;
    transition: .5s
}

.people-list .chat-list li {
    padding: 10px 15px;
    list-style: none;
    border-radius: 10px;
    transition: 0.3s;
}

.people-list .chat-list li:hover {
    background: #0311d642;
    cursor: pointer;



}

.people-list .chat-list li.active {
    background: #efefef41

}

.people-list .chat-list li .name {
    font-size: 15px
}

.people-list .chat-list img {
    width: 45px;
    border-radius: 50%
}

.people-list img {
    float: left;
    border-radius: 50%
}

.people-list .about {
    float: left;
    padding-left: 8px
}

.people-list .status {

    font-size: 13px
}

.chat .chat-header {
    padding: 15px 20px;
    border-bottom: 2px solid #1417c546
}

.chat .chat-header img {
    float: left;
    border-radius: 40px;
    width: 40px
}

.chat .chat-header .chat-about {
    float: left;
    padding-left: 10px;
    color: rgba(0, 0, 0, 0.658);
}

.chat .chat-history {
    padding: 20px;
    border-bottom: 2px solid #06273d59;

   height: 100%;
}

.chat .chat-history ul {
    padding: 0
}

.chat .chat-history ul li {
    list-style: none;
    margin-bottom: 30px
}

.chat .chat-history ul li:last-child {
    margin-bottom: 0px
}

.chat .chat-history .message-data {
    margin-bottom: 15px
}

.chat .chat-history .message-data img {
    border-radius: 40px;
    width: 40px
}

.chat .chat-history .message-data-time {
    color: #434651;
    padding-left: 0px;
    margin: 0px;
    position: relative;
    left: 0px;
    top: 10px;
    font-size: 12px;
}

.chat .chat-history .message {

    padding: 18px 20px;
    line-height: 26px;
    font-size: 16px;
    border-radius: 7px;
    display: inline-block;
    position: relative
}



.chat .chat-history .my-message {
    background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(147,230,241,1) 0%, rgba(145,192,241,1) 45.5% );
    border-radius: 20px 0px 20px 20px;
    padding: 10px 20px;
}

audio::-webkit-media-controls-play-button,
 audio::-webkit-media-controls-panel {
 background-color: rgba(138, 138, 138, 0);
 color: red;
 
 }

.chat .chat-history .other-message {
    background-image: linear-gradient(to right, rgb(182, 244, 146), rgb(51, 139, 147));
    text-align: right;

    border-radius: 0px 20px 20px 20px;
    padding: 10px 20px;

}



.chat .chat-message {
    padding: 20px
}

.online,
.offline,
.me {
    margin-right: 2px;
    font-size: 8px;
    vertical-align: middle
}

.online {
    color: #86c541
}

.offline {
    color: #e47297
}

.me {
    color: #1d8ecd
}

.float-right {
    float: right
}

ul .clearfix{
    margin: 5px;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0
}




ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;

}

/* li no style */

li {
    color:black;
    
margin: 0;
}


