html,
body {
    margin: 0px;
    overflow: hidden;
    /* center content in the middle  vertically */
    display: flex;
    align-items: center;
    justify-content: center;


}

a {
    color: #fff;
    text-decoration: none;
}

img {

    pointer-events: none;

}

.gradient-text {
    font-size: 72px;
    background: -webkit-linear-gradient(#44459c, #1d3457);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
}

/* modern scroll */

::-webkit-scrollbar {
    width:10px;

}

::-webkit-scrollbar-track {

    border-radius: 20px;
}

::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 20px;
}   

::-webkit-scrollbar-thumb:hover {
    background: #555;
}   



